# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# macOS Finder tags
*.Spotlight-V100
*.Trashes

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so
*.out
*.pyc
*.pyo
*.pyd

# Backup files
*~
*.bak
*.swp
*.swo
*.tmp
*.old

# Logs
*.log

# VSCode
.vscode/

# JetBrains IDEs
.idea/

# Python
__pycache__/
.env
.venv
env/
venv/
Pipfile.lock
*.egg-info/
*.sqlite3

# JS
package-lock.json
yarn-error.log
yarn-debug.log
npm-debug.log

# Flask dev server files
instance/
*.db

# C language binaries
a.out
*.out

# CS50 IDE / GitHub Codespaces
.c9/
codespace/
*.code-workspace

# Node (in case of using npm for frontend stuff)
node_modules/

# Misc
*.zip
*.tar.gz
*.tgz
*.7z
*.rar
